<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guestbook</title>
</head>
<body>
<h1>방명록</h1>

    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/guestbook_insert/" method="post">
        <p>제  목: <input type="text" name="subject" value = {{ subject }} ></p>
        <p>e-mail (선택사항): <input type="text" name="email" value = {{ email }} ></p>
        <p>메시지: <textarea name="message" rows="10" cols="50"> {{ message }} </textarea></p>
        <input type="submit" value="저      장">
    </form>
</body>
</html>